//////////////////////////////
///// ACF REUSABLE BLOCK /////
//////////////////////////////

@import '../utils/_variables';  

header {
    position: relative;
    z-index: $ui;

    color: $white;

    & > .wrapper {
        padding: 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        
        width: 100%;
        background-color: $dark;
        
        padding: map-get($sec-spacings, sm-x);
        height: $header-height-mobile;

        transition: all $fast $bezier;

        z-index: 5;

        & > img {
            width: auto;
            object-fit: contain;
            object-position: center;
        }


        display: flex;
        align-items: center;
        justify-content: flex-start;

        & > span {
            font-family: $font2;
            font-size: 1.25rem;
            margin-left: 1rem;
        }
    }

    .nav-main {
        position: fixed;
        bottom: $nav-bottom-height;
        left: 0;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        background-color: #ffffffdd;
        backdrop-filter: blur(1rem);

        padding: (map-get($sec-spacings, sm-x) * 0.75);
        margin-bottom: -5rem;
        
        pointer-events: none;
        opacity: 0;
        transform: scale(1);
        transition: all $fast $bezier;

        ul {

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            li {

                a {
                    &:not(.btn) {
                        display: block;
                        padding: 0.5rem 0;
                        font-weight: 700;
                        color: $text-color;
                        transition: color $fast $bezier;
                    }

                    &.btn {
                        margin: 0.5rem 0;
                    }

                    

                    &[aria-current], &:hover {
                        color: $primary;            
                    }
                }

                &[aria-haspopup] {
                    svg {
                        display: none;
                    }
                    
                    ul.dropdown {
                        padding-left: calc(map-get($sec-spacings, sm-x) * 0.6);
                        margin-bottom: map-get($sec-spacings, sm-x);
                        border-left: 2px solid $primary;
                        color: lighten($text-color, 30%);
                    }
                }

            }

            & > li {
                &:last-child a:not(.btn) { margin-bottom: 0; padding-bottom: 0; }
                &:first-child a:not(.btn) { margin-top: 0; padding-top: 0; }
            }
        }
    }

    .nav-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: $nav-bottom-height;

        display: flex;
        justify-content: space-between;
        align-items: center;

        box-shadow: 0 -10px 50px -20px #00000071;

        background-color: $dark;

        &-cta {
            font-weight: 900;
            text-transform: uppercase;

            display: flex;
            align-items: center;

            color: $primary;

            padding-left: map-get($sec-spacings, sm-x);
            padding-right: map-get($sec-spacings, sm-x);
            height: $nav-bottom-height;

            img {
                margin-right: 0.5rem;
                height: 1.2rem;
                width: 1.2rem;
            }
        }
    }

    .btn-menu {
        position: relative;
        width: $nav-bottom-height;
        height: $nav-bottom-height;
        background-color: $primary;
        pointer-events: all;
        padding: 0;

        clip-path: none;

        display: flex;
        justify-content: center;
        align-items: center;

        span {
            position: absolute;
            transition: all $fast $bezier;

            &:first-child {
                opacity: 1;
            }

            &:last-child {
                opacity: 0;
            }
        }

        svg, path {
            stroke: $white!important;
        }

        &::after, &:before {
            content: none;
        }
    }
}

@media (max-width: calc(map-get($breakpoints, lg) - 1px)) {
    .nav-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        position: fixed;
        bottom: 0;
        z-index: 5;

        height: $nav-bottom-height;
        left: $nav-bottom-height;
        width: calc(100% - $nav-bottom-height);

        & > .link-icon {
            display: none;
        }

        & > span .link-icon{

            height: $nav-bottom-height;

            &:not(:last-child) {
                display: flex;
                align-items: center;
                justify-content: center;

                width: $nav-bottom-height;
                font-size: 0;
                color: transparent;
                position: absolute;
            }

            &:last-child {
                padding-left: $nav-bottom-height * 0.5;
                padding-right: $nav-bottom-height * 0.5;
                background-color: lighten($dark, 5%);
            }
        }
    }
}

body.menu--open {
    header {
        .nav-main {
            pointer-events: all;
            opacity: 1;
            transform: scale(1.2);
        }

        .btn-menu {
            span {
                &:first-child {
                    opacity: 0;
                }

                &:last-child {
                    opacity: 1;
                }
            }
        }
    }

    position: relative;
    overflow: hidden;
}

body.scrolled {
    .logo {
        padding: (map-get($sec-spacings, sm-x) * 0.5);
        height: ($header-height-mobile * 0.6);
    }
}

@media (min-width: map-get($breakpoints, lg)) {
    header {
        & > .wrapper {
            height: 100%;
            justify-content: space-between!important;
            padding-left: map-get($sec-spacings, lg-x)!important;
            padding-right: map-get($sec-spacings, lg-x)!important;
            padding-top: $card-lg-spacing;
            padding-bottom: $card-lg-spacing;

            transition: all $fast $bezier;
        }

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;

        background-color: #1d1e25a8;

        height: auto;
        transition: all $fast $bezier;

        .logo {
            position: relative;
            height: 50px!important;
            width: auto;
            padding: 0!important;
            object-position: left center;
            background-color: transparent;

            & > span {
                font-size: 1.8rem;
            }
        }

        .nav-main {
            position: relative;
            clip-path: inherit;
            opacity: inherit;
            width: inherit;
            left: inherit;
            bottom: inherit;
            background-color: transparent;
            padding: 0;
            pointer-events: all;
            backdrop-filter: none;
            margin: 0;

            & > ul {
                flex-direction: row;
    
                li {
                    a:not(.btn) {
                        padding: 1rem 1.5rem!important;
                        font-size: 1.05rem;
                        color: $white;
                    }

                    &[aria-haspopup] {
                        svg {
                            display: inline-block;

                            width: 0.75rem;
                            height: 0.75rem;
                            color: $primary;

                            margin-left: 0.75rem;

                            transform: rotate(0deg);
                            transition: transform $fast $bezier;
                        }

                        &:hover {
                            svg {
                                transform: rotate(180deg);
                            }
                        }
                    }
                    
                    a.btn {
                        margin: 0 1rem;
                    }
                    
                    position: relative;

                    & > ul.dropdown {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        padding: 0.25rem 0;
                        margin: 0;
                        border: none;
                        width: 250px;
                        background-color: $white;
                        box-shadow: $shadow;
                        pointer-events: none;

                        opacity: 0;
                        transform: translateX(2rem);
                        clip-path: polygon(0 0, 100% 0%, 100% 0, 0 100%, 0 100%);
                        transition: all $fast $bezier;

                        li a {
                            padding: 0.75rem 1.5rem!important;
                        }
                    }

                    &:hover {
                        & > ul.dropdown {
                            transform: translateX(0rem);
                            pointer-events: all;
                            opacity: 1;
                            clip-path: polygon(0 0, 100% 0%, 100% 100%, 100% 100%, 0 100%);
                        }
                    }
                }
    
                & > li:last-child a { margin-right: 0; }
            }
        }

        .nav-bottom {
            display: none;
        }

        .nav-top.wrapper {
            background-color: $dark;
            padding-top: 0;
            padding-bottom: 0;
            height: 3rem;
            padding-top: 0.2rem;
            justify-content: space-between;

            & > span {
                display: flex;
                align-items: center;
                gap: $card-lg-spacing
            }

            a, span {
                font-size: $base-fs * 0.95;
                font-weight: 400;
            }
        }
    }

    body.scrolled {
        header {
            transform: translateY(-2.5rem);
            background-color: $dark;
            & > .wrapper {
                padding-top: $card-lg-spacing * 0.5;
                padding-bottom: $card-lg-spacing * 0.5;    
            }
        }
        .logo {
            height: $header-height-desktop;
        }
    }    

    // Add a space when user is connected to website's administration
    .admin-bar {
        header {
            top: 32px;

            .logo {
                top: 0;
            }
        }
    }


    *:not(.edit-post-visual-editor, .editor-styles-wrapper, .editor-canvas) {

        // On scroll animations
        header {

            transform: translateY(0);
            opacity: 1;

            transition: all $on-scroll $ease-both;

            .nav-top {
                transform: translateY(0);
                opacity: 1;

                transition: all $on-scroll $ease-both;
                transition-delay: $on-scroll * 0.1;
            }

            &.hidden-animate {
                transform: translateY(-100%);
                opacity: 0;

                .nav-top {
                    transform: translateY(-100%);
                    opacity: 0;
                }    
            }
        }
    }
}


@media (min-width: map-get($breakpoints, xl)) {
    header {
        & > .wrapper {
            padding-left: map-get($sec-spacings, xl-x)!important;
            padding-right: map-get($sec-spacings, xl-x)!important;
        }
    }
}
