@import '../utils/_variables';  


$sp : $card-sm-spacing;
.content_media {

    & > .wrapper {
        gap: $card-sm-spacing * 2;
    }

    .lines {

        width: calc(100% - $sp * 2);
        margin-left: $sp;

        &::before {
            width: $sp * 4;
            height: $sp * 2;

            right: $sp;
            top: -$sp;
        }

        &::after {
            width: calc(100% - $sp);
            height: $sp * 3;

            right: -$sp;
            bottom: -$sp;
        }

        .imgWrap {
            
            overflow: visible;

            &::before {
                content: "";
                position: absolute;
                top: -$sp;
                left: -$sp;

                width: $sp * 3;
                height: $sp * 2;

                border-left: 0.3rem solid $primary;
                border-top: 0.3rem solid $primary;
            }
        }
    }
}


@media (min-width :  map-get($breakpoints, md)) {
    $sp : $card-md-spacing * 3;
    .content_media {

        & > .wrapper {
            gap: $sp;
            align-content: center!important;

            & > div {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    
        .lines {
            
            &::before {
                width: $sp * 4;
                height: $sp * 2;
    
                right: -$sp * 0.5;
                top: -$sp * 0.5;
            }

            &::after {
                width: calc(100% - $sp);
                height: $sp * 3;

                right: -$sp * 0.5;
                bottom: -$sp * 0.5;
            }

            .imgWrap {
                &::before {
                    top: -$sp * 0.5;
                    left: -$sp * 0.5;
    
                    width: $sp * 3;
                    height: $sp * 2;
                }
            }
        }
    }
}

@media (min-width :  map-get($breakpoints, lg)) {
    $sp : $card-lg-spacing * 2;
    .content_media {

        & > .wrapper {
            align-items: center!important;
        }

        .lines {
            
            width: 500px;
            margin: 0;

            &::before {
                width: $sp * 4;
                height: $sp * 2;
    
                right: $sp * 0.5;
                top: -$sp * 0.5;
            }

            &::after {
                width: calc(100% - $sp);
                height: $sp * 3;

                right: -$sp;
                bottom: -$sp;
            }

            .imgWrap {
                &::before {
                    top: -$sp * 0.5;
                    left: -$sp * 0.5;
    
                    width: $sp * 3;
                    height: $sp * 2;
                }
            }
        }

        .imgWrap {
            width: 500px;
            height: 500px;
        }
    }
}

@media (min-width :  map-get($breakpoints, xl)) {
    .content_media {

        .lines {
            width: 575px;

            .imgWrap {
                width: 575px;
                height: 575px;
            }
        }
    }
}