@import '../utils/_variables';  

.cta {
    
    &-wrapper {

        background-color: $white;
        box-shadow: $shadow;

        display: flex;
        flex-direction: column;
        gap: $card-sm-spacing;
        
        padding: $card-sm-spacing;
        
        .ctn {
        }

        .btn {
            width: 100%;

            font-size: 1.2rem;
        }
    }

    .wrapper {
        container-type: inline-size;
        container-name: cta-container;    
    }
}

// @media (min-width :  map-get($breakpoints, lg)) {
@container cta-container (width > 700px) {
    .cta {    
        &-wrapper {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;

            gap: $card-lg-spacing;

            padding: $card-lg-spacing;
            
            .ctn {
                padding: $card-lg-spacing;
            }
    
            .btn {
                width: auto;
                padding-left: 4rem;
                padding-right: 4rem;

                font-size: 2rem;
            }
        }
    }
}