@import '../utils/_variables';  


.partners {
    color: $white;
    background-color: $dark;

    &-slider {
        &-item {
            img {
                border-radius: 0.25rem;
            }

            // max-width: 125px;
            // max-height: 125px;

            transform: scale(1);
            transition: all ($fast * 0.5) $bezier;

            &[aria-hidden="true"] {
                transform: scale(.5);
                opacity: 0;
            }
        }
    }

    .bx-pager {
        text-align: left;
        .bx-pager-link:not(.active) svg {
            color: $white!important;
        }
    }
}

@media (min-width :  map-get($breakpoints, lg)) {
    .partners {
        & > .wrapper {
            gap: $card-lg-spacing * 3!important;
            padding-top: map-get($sec-spacings, lg-y) * 0.5!important;
            padding-bottom: map-get($sec-spacings, lg-y) * 0.5!important;
            grid-template-columns: 400px 1fr!important;
        }

        text-align: right;

        .ctn-title {
            &-main {
                justify-content: flex-end;
                &::after {
                    content: none;
                }
            }
        }

        &-slider {
            margin-top: 3rem;
            &-item {
            }
        }

        .bx-wrapper {
            margin-bottom: 0;
        }

        .bx-pager {
            bottom: inherit;
            top: -3rem;
        }
    }
}