// Sliders 


.bx-controls .bx-controls-direction {

    .bx-prev, .bx-next {
        display: flex;
        align-items: center;
        justify-content: center;

        bottom: -4.5rem;
        pointer-events: all;    

        width: 3.5rem;
        height: 3.5rem;

        z-index: 10;

        color: $primary;
        background-color: $white;
        border-radius: $round;
        box-shadow: 0 5px 30px #00000015;
    }
    
    .bx-prev {
        z-index: 10;
        left: -2rem + $sp;
    }
    
    .bx-next {
        // right: -2rem;
    }
}

.bx-pager {

    bottom: -3.5rem;

    .bx-pager-item {
        a {

            pointer-events: all;

            transition: transform $slow $bezier;

            font-size: 0;
            color: transparent;
            
            svg {
                width: 1rem;
                height: 1rem;
                color: $dark;

                transition: $slow color $ease-both;
            }
            
            &.active {
                
                display: block;
                transform: scale(1.2);
                
                svg {
                    color: $primary;
                }
            }
        }

        &:not(:last-child) {
            margin-right: $sp * 0.75;
        }

        @for $i from 1 through 10 {
            $r : $i * 75;
            &:nth-child(#{$i}) svg {
                transform: rotate($r + deg);        
            }
        }
    }
}

@media (min-width :  map-get($breakpoints, md)) {
    .bx-pager {
        .bx-pager-item{

            &:not(:last-child) {
                margin-right: $sp * 1;
            }

            a {
                svg {
                    width: 1rem;
                    height: 1rem;
                }

                &.active {
                    transform: scale(1.75);
                }
            }
            
        }
        
    }
    .bx-controls .bx-controls-direction {
        .bx-next, .bx-prev {
            width: 4rem!important;
            height: 4rem!important;
        }
    }
}


@media (min-width :  map-get($breakpoints, lg)) {

}

@media (min-width :  map-get($breakpoints, xl)) {
    
}