$sp : map-get($sec-spacings, sm-x);
$p-x : 1rem;
$p-y : 0.75rem;

.form {

    position: relative;
    padding: $card-sm-spacing;
    overflow: hidden;

    box-shadow: $shadow ;

    display: flex;
    flex-wrap: wrap;
    gap: $p-x;

    background-color: $white;

    &-field {

        position: relative;
        color: $white;
        width: 100%;

        label {
            position: absolute;
            z-index: 1;
            max-width: 100%;
            width: 100%;

            line-height: $line-height;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 600;

            padding: ($p-y - 0.16rem) $p-x;

            display: block;
            transform-origin: left center;

            color: #1d1e259d;
            background-color: $light;

            opacity: 1;

            transition: all $fast $ease-both;

            pointer-events: none;

            &[for="time"] {
                padding: ($p-y - 0.14rem) $p-x;
            }

            /*
            &[for="date"] {
                width: calc(100% - 2.5rem)!important;
            }

            &[for="info"] {
                white-space: inherit;
            }
            */
        }

        textarea, input, select {
            position: relative;
            background-color: $light;
            font-size: inherit;
            width: 100%;
            font-size: 0.9rem;
            font-weight: 600;
            line-height: 1!important;
            appearance: none;
            -webkit-appearance: none;

            font-family: $font1;
            color: $text-color;

            border: none;
            
            padding: $p-y $p-x;

            transition: all $fast $ease-both;

            &:focus {
                outline: none!important;
            }
            
            &::placeholder {
                color: darken($light, 40%);
            }

            &[type="date"] {
                appearance: none;
                // color-scheme: dark;
                
                &:placeholder {
                    opacity: 0;
                }
            }

            &[type="time"] {
                padding-bottom: calc($p-y - 0.15rem);
            }
        }

        select {
            padding-right: $p-y;

            option {
                font-weight: 600;
                color: $text-color;
                padding: 1rem;

                &:first-child {
                    display: none;
                }
            }

            & + svg {
                position: absolute;
                right: 0;
                bottom: $p-y * 1.25;

                max-width: 1rem;
                min-width: 1rem;
                max-height: 1rem;
                min-height: 1rem;

                transition: transform $fast $ease-both;
            }
        }

        textarea {
            resize: none;
            height: calc($p-x * 2 + 5rem)!important;
        }

        &.form-field {
            &--required {
                label::after {
                    content: " *";
                }
            }

            &--focus {
                textarea, input, select {
                    box-shadow: 0 2px 0 -1px $white;
                }

                select + svg {
                    transform: rotate(180deg);
                }
            }

            &--focus, &--complete, &--labelUp {
                label {
                    transform: translateX(1rem);
                    opacity: 0;
                }
            }
            
            &--error {
                textarea, input, select, label {
                    box-shadow: 0 1px 0 0 $failed!important;
                }
            }
        }
    }

    &-message {
        pointer-events: none;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 5;        width: calc(100% - ($card-sm-spacing * 2));
        padding: 1rem;

        text-align: center;
        font-weight: 800;

        background-color: $white;
        border-radius: $radius;

        transform: translateY(2rem);
        opacity: 0;

        transition: all $fast $ease-both;

        &--failed { color: $failed; }
        &--succes { color: $succes; }

        p {
            margin: 0;

            padding: 1rem;

            &:last-child { padding-bottom: 0; }
            &:first-child { padding-top: 0; }

            &:not(:last-child) {
                border-bottom: 1px solid $light;
            }
        }
    }

    &--succes {
        .form-message--succes {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    &--failed {
        .form-message--failed {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    .btn[type="submit"] {
        min-width: calc(100% + $card-sm-spacing * 2);
        padding: 1rem;
        margin-left: -$card-sm-spacing;
        margin-bottom: -$card-sm-spacing;

        &::after, &::before {
            content: none;
        }

        // &:hover {
        //     background-color: $dark;
        // }
    }
}

@media (min-width :  map-get($breakpoints, lg)) {
    .form {
        gap: $p-x;
        &-field {
            &--half { width: calc(50% - ($p-x / 2)); }
        }
    }
}


@media (min-width: map-get($breakpoints, md)) {

    $p-x : 1.5rem;
    $p-y : 1.25rem;

    .form {
        padding: $card-lg-spacing;
        gap: $p-x;

        &-field {
            &--half {
                width: calc(50% - ($p-x / 2));
            }

            label {
                padding: ($p-y - 0.22rem) $p-x;
            }

            textarea, input, select {
                padding: $p-y $p-x;

                &[type="time"] {
                    padding-bottom: $p-y - 0.17rem!important;
                }
            }
        }
        

        &-message {
            margin: $card-lg-spacing;
            width: calc(100% - ($card-lg-spacing * 2));
        }

        .btn[type="submit"] {
            min-width: calc(100% + $card-lg-spacing * 2);
            margin-left: -$card-lg-spacing;
            margin-bottom: -$card-lg-spacing;
        }
    }

    textarea {
        height: calc($p-x * 2 + 5rem)!important;
    }
}