body {
  margin: 0;
}

button {
  font-family: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
  color: inherit;
  cursor: pointer;
}

ol, ul, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}

body {
  font-size: 14px;
  line-height: 1.7;
  font-family: "Outfit", sans-serif;
  color: #242424;
}

.h1, h1 {
  font-size: 24.137569rem;
}

.h2, h2 {
  font-size: 14.19857rem;
}

.h3, h3 {
  font-size: 8.3521rem;
}

.h4, h4 {
  font-size: 4.913rem;
}

.h5, h5 {
  font-size: 2.89rem;
}

.h6, h6 {
  font-size: 1.7rem;
}

@media (min-width: 720px) {
  body {
    font-size: 15px;
  }
  .h1, h1 {
    font-size: 31.3788397rem;
  }
  .h2, h2 {
    font-size: 18.458141rem;
  }
  .h3, h3 {
    font-size: 10.85773rem;
  }
  .h4, h4 {
    font-size: 6.3869rem;
  }
  .h5, h5 {
    font-size: 3.757rem;
  }
  .h6, h6 {
    font-size: 2.21rem;
  }
}
header {
  position: relative;
  z-index: 1000;
  box-shadow: 0 0 50px -20px rgba(0, 0, 0, 0.2156862745);
}
header > .wrapper {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  transition: all 0.3s cubic-bezier(0.83, 0, 0.17, 1);
}
header .logo > svg {
  width: 100%;
  height: 100%;
}
header .nav-main {
  position: fixed;
  bottom: 4rem;
  left: 0;
  width: 90vw;
  height: auto;
  background-color: #fff;
  padding: 1.125rem;
  pointer-events: none;
  clip-path: polygon(0 0, 100% 100%, 100% 100%, 0 100%, 0 0);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.83, 0, 0.17, 1);
}
header .nav-main ul li a:not(.btn) {
  display: block;
  padding: 0.5rem 0;
  font-weight: 700;
  transition: color 0.3s cubic-bezier(0.83, 0, 0.17, 1);
}
header .nav-main ul li a:not(.btn):hover {
  color: #000000;
}
header .nav-main ul li a.btn {
  margin: 0.5rem 0;
}
header .nav-main ul li.has-children svg {
  display: none;
}
header .nav-main ul li ul.dropdown {
  padding-left: 0.9rem;
  margin-bottom: 1.5rem;
  border-left: 2px solid #000000;
  color: #717171;
}
header .nav-main ul > li:last-child a:not(.btn) {
  margin-bottom: 0;
  padding-bottom: 0;
}
header .nav-main ul > li:first-child a:not(.btn) {
  margin-top: 0;
  padding-top: 0;
}
header .nav-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -10px 50px -20px rgba(0, 0, 0, 0.4431372549);
  background-color: #fff;
}
header .nav-bottom-cta {
  font-weight: 900;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #000000;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 4rem;
}
header .nav-bottom-cta img {
  margin-right: 0.5rem;
  height: 1.2rem;
  width: 1.2rem;
}
header .btn-menu {
  position: relative;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  background-color: #000000;
  pointer-events: all;
  clip-path: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .btn-menu svg {
  position: absolute;
  transition: all 0.3s cubic-bezier(0.83, 0, 0.17, 1);
}
header .btn-menu svg.open {
  opacity: 1;
}
header .btn-menu svg.close {
  opacity: 0;
}
header .btn-menu svg, header .btn-menu path {
  stroke: #fff !important;
}

main, footer {
  filter: blur(0rem);
  transition: all 0.3s cubic-bezier(0.83, 0, 0.17, 1);
}
main:after, footer:after {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.3058823529);
  z-index: 1;
  top: -10%;
  left: -10%;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.83, 0, 0.17, 1);
}

body.menu--open main, body.menu--open footer {
  filter: blur(0.25rem);
}
body.menu--open main::after, body.menu--open footer::after {
  opacity: 1;
}
body.menu--open header .nav-main {
  pointer-events: all;
  opacity: 1;
  clip-path: polygon(calc(100% - 2rem) 0, 100% 2rem, 100% 100%, 0 100%, 0 0);
}
body.menu--open header .btn-menu svg.open {
  opacity: 0;
}
body.menu--open header .btn-menu svg.close {
  opacity: 1;
}

body.scrolled .logo {
  padding: 0.75rem;
  height: 3rem;
}

@media (min-width: 1200px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 8rem;
    transition: all 0.3s cubic-bezier(0.83, 0, 0.17, 1);
  }
  header > .wrapper {
    height: 100%;
    justify-content: space-between !important;
    padding: 0 12vw !important;
  }
  header .logo {
    position: relative;
    width: auto;
  }
  header .nav-main {
    position: relative;
    clip-path: inherit;
    opacity: inherit;
    width: inherit;
    left: inherit;
    bottom: inherit;
    padding: 0;
    pointer-events: all;
  }
  header .nav-main > ul {
    display: flex;
    align-items: center;
  }
  header .nav-main > ul li {
    position: relative;
  }
  header .nav-main > ul li a:not(.btn) {
    padding: 1rem 1.5rem !important;
    font-size: 1.05rem;
  }
  header .nav-main > ul li.has-children svg {
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    color: #000000;
    margin-left: 0.75rem;
    transform: rotate(0deg);
    transition: transform 0.3s cubic-bezier(0.83, 0, 0.17, 1);
  }
  header .nav-main > ul li.has-children:hover svg {
    transform: rotate(180deg);
  }
  header .nav-main > ul li a.btn {
    margin: 0 1rem;
  }
  header .nav-main > ul li > ul.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0.25rem 0;
    margin: 0;
    border: none;
    width: 250px;
    background-color: #fff;
    box-shadow: 0px 30px 50px -20px rgba(0, 0, 0, 0.2392156863);
    pointer-events: none;
    opacity: 0;
    transform: translateX(2rem);
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0 100%, 0 100%);
    transition: all 0.3s cubic-bezier(0.83, 0, 0.17, 1);
  }
  header .nav-main > ul li > ul.dropdown li a {
    padding: 0.75rem 1.5rem !important;
  }
  header .nav-main > ul li:hover > ul.dropdown {
    transform: translateX(0rem);
    pointer-events: all;
    opacity: 1;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 100% 100%, 0 100%);
  }
  header .nav-main > ul > li:last-child a {
    margin-right: 0;
  }
  header .nav-bottom {
    display: none;
  }
  body.scrolled header {
    height: 5.6rem;
  }
  body.scrolled .logo {
    height: 8rem;
  }
  body.scrolled .nav-main ul li a.btn {
    padding: 1rem 2rem;
  }
}

/*# sourceMappingURL=critical.css.map */
