* {
  box-sizing: border-box;
}

::-moz-selection {
  background-color: #AB1A0A;
  color: #fff;
}

::selection {
  background-color: #AB1A0A;
  color: #fff;
}

::-webkit-selection {
  background-color: #AB1A0A;
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
  transition: background-color 0.3s cubic-bezier(0.83, 0, 0.17, 1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #AB1A0A;
}

::-webkit-scrollbar-button {
  background-color: #bebebe;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
img.contain {
  object-fit: contain;
}

.icon {
  min-width: 1.25rem;
  max-width: 1.25rem;
  min-height: 1.25rem;
  max-height: 1.25rem;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -1.5rem;
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
  width: calc(100% + 3rem);
}
.list--3col > li, .list--3col > div:not(.slick-list) {
  margin: 1.5rem;
  width: calc(100% - 3rem);
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-left: -0.25rem;
}
.social-links-item a {
  display: block;
  padding: 0.5rem;
  color: #AB1A0A;
  transition: opacity 0.3s cubic-bezier(0.83, 0, 0.17, 1);
}
.social-links-item a svg {
  width: 2rem;
  height: 2rem;
}
.social-links-item a:hover {
  opacity: 0.3;
}

@media (min-width: 720px) {
  .list, .list-md {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .list .card, .list .card-body, .list-md .card, .list-md .card-body {
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .list, .list-md, .list-lg {
    display: flex;
    justify-content: center;
    margin-left: -0.875rem;
    margin-top: -0.875rem;
    margin-bottom: -0.875rem;
    width: calc(100% + 1.75rem);
  }
  .list.list--3col > li, .list.list--3col > div, .list-md.list--3col > li, .list-md.list--3col > div, .list-lg.list--3col > li, .list-lg.list--3col > div {
    margin: 0.875rem;
    width: calc(33.33% - 1.75rem);
  }
  .list .card, .list .card-body, .list-md .card, .list-md .card-body, .list-lg .card, .list-lg .card-body {
    height: 100%;
  }
  .icon {
    min-width: 1.5rem;
    max-width: 1.5rem;
    min-height: 1.5rem;
    max-height: 1.5rem;
  }
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #fff;
  opacity: 0.8;
  display: none;
  backdrop-filter: blur(0.5rem);
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  outline: none;
  display: flex;
  justify-content: center;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  /* Background color behind image.
     This is visible during transitions. */
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

@keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.lb-cancel {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.lb-cancel svg {
  margin: auto;
  animation-name: loading;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-timing-function: steps(8);
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
  line-height: 0;
  display: flex;
  align-items: center;
  padding: 1.5rem;
}

.lb-prev {
  justify-content: flex-start;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4509803922) 0%, rgba(0, 0, 0, 0));
}

.lb-next {
  justify-content: flex-end;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.4509803922) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  opacity: 1;
}

.lb-dataContainer {
  position: absolute;
  bottom: 0;
  z-index: 1001;
  margin: 0 10px;
  width: 100%;
}
.lb-dataContainer p {
  margin: 0;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data .lb-details {
  float: left;
  text-align: left;
  padding: 1.5rem;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.lb-data .lb-caption a {
  color: #242424;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  color: #242424;
}

.lb-data .lb-close {
  display: block;
  float: right;
  text-align: right;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  opacity: 1;
}

.lb-number {
  opacity: 0.3;
  font-weight: 800;
}

.lb-container {
  filter: drop-shadow(0 20px 70px rgba(0, 0, 0, 0.4666666667));
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: 93vh;
}

.lb-container {
  max-height: 93vh;
}

.lb-close {
  padding: 1.5rem;
}

@media (min-width: 1200px) {
  .lb-data .lb-details {
    padding: 1.5rem;
  }
  .lightbox svg {
    width: 2.25rem;
    height: 2.25rem;
  }
  .lb-prev, .lb-next, .lb-close {
    padding: 1.75rem;
  }
}
.btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.btn {
  position: relative;
  display: inline-block;
  transition: 0.3s cubic-bezier(0.83, 0, 0.17, 1);
}
.btn-square {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
}
.card svg {
  color: #AB1A0A;
}
.card-body {
  background-color: #fff;
  box-shadow: 0px 30px 50px -20px rgba(0, 0, 0, 0.2392156863);
  padding: 1.5rem;
}
.card-body h3 {
  margin-bottom: 1.5rem;
}

@media (min-width: 1200px) {
  .card-body {
    padding: 1.75rem;
    gap: 1.75rem;
  }
}
footer > .wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 4rem;
  align-items: flex-start;
  justify-content: flex-start;
}
footer > .wrapper .link-list .link-list-item a {
  display: flex;
  padding: 0.25rem 0;
  font-weight: 600;
  transition: color 0.3s cubic-bezier(0.83, 0, 0.17, 1);
}
footer > .wrapper .link-list .link-list-item a svg {
  margin-top: 5px;
  margin-right: 0.75rem;
  transform: translateX(0);
  transition: transform 0.3s cubic-bezier(0.83, 0, 0.17, 1);
}
footer > .wrapper .link-list .link-list-item a path {
  stroke: #AB1A0A;
  margin-right: 0.75rem;
}
footer > .wrapper .link-list .link-list-item a:hover {
  color: #AB1A0A;
}
footer > .wrapper .link-list .link-list-item a:hover svg {
  transform: translateX(0.3rem);
}
footer > .wrapper.footer-bottom {
  background-color: #f1f1f1;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}
footer > .wrapper.footer-bottom p > a::after {
  content: " - ";
}
footer > .wrapper.footer-bottom p > a:last-child::after {
  content: none;
}
footer > .wrapper.footer-bottom a {
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.83, 0, 0.17, 1);
}
footer > .wrapper.footer-bottom a:hover {
  opacity: 0.3;
}
footer > .wrapper.footer-bottom * {
  margin: 0;
}

@media (min-width: 1200px) {
  footer {
    margin-bottom: 0;
  }
  footer > .wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  footer > .wrapper .link-list-item a svg {
    width: 1.5rem;
  }
  footer .footer-bottom {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }
}
.wrapper {
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 720px) {
  .wrapper {
    padding: 5rem 15vw;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    padding: 8rem 12vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=style.css.map */
