//////////////////////
///// SCROLLBARS /////
//////////////////////


* {
    box-sizing: border-box;
}

::-moz-selection {
    background-color: $primary;
    color: $white;
}

::selection {
    background-color: $primary;
    color: $white;
}

::-webkit-selection {
    background-color: $primary;
    color: $white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: $white;
}

::-webkit-scrollbar-thumb {
    background-color: darken($light, 10%);
    transition: background-color $fast $bezier;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $primary;
}

::-webkit-scrollbar-button {
    background-color: darken($light, 20%);
}

///////////////////////////
///// VIDEOS & IMAGES /////
///////////////////////////

img, figure, video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0;

    &.contain {
        object-fit: contain;
    }
}

.imgWrap, .vidWrap {

    max-height: 70vh;

    overflow: hidden;

    &:not(.imgWrap--seamless) {
        border-radius: $radius2;
        box-shadow: $shadow;
    }
}

.imgWrap {
    position: relative;
    width: 100%;
    height: 100%;

    &--portrait {

        &-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            // z-index: -1;
            pointer-events: none;

            object-fit: cover;
            transform: scale(1.1);
            filter: blur(4rem) brightness(1.2);
        }

        figure {
            position: relative;
            z-index: 5;

            img {
                object-fit: contain!important;
                z-index: 2;
            }
        } 
    }
}

.vidWrap {
    position: relative;
    width: 100%;
    height: 100%;

    .imgWrap {
        pointer-events: none;
        z-index: 1;

        left: 0;
        top: 0;
        position: absolute;

        opacity: 0;

        transition: opacity $fast $bezier;
    }

    $sp : $video-sm-spacing;
    &-controls {
        transform: scale(.9);
        opacity: 0;
        pointer-events: none;
        transition: all $fast $bezier;

        position: absolute;
        bottom: 0;
        left: 0;

        display: flex;
        align-items: center;
        height: 3rem;
        width: calc(100% - ($sp * 2));

        border-radius: $radius;

        margin: $sp;
        background-color: $white;

        overflow: hidden;

        button {
            @keyframes btn-fade-in {
                from { opacity: 0; transform: scale(0.4); }
                to { opacity: 1; transform: scale(1); }
            }

            display: flex;
            align-items: center;
            justify-content: center;

            min-width: 3rem;
            min-height: 3rem;

            color: $secondary;

            svg {
                transform: scale(1);
                transition: all $superfast $bezier;
                
                animation: btn-fade-in $fast $bezier;
            }

            &:active svg {
                transform: scale(0.75);
            }

            &.playpause {
                background-color: $primary;
                color: $white;

                &[data-state="play"] { svg.pause-icon { display: none; } }
                &[data-state="pause"] { svg.play-icon { display: none; } }
            }

            &.mute {
                &[data-state="mute"] { svg.unmute-icon { display: none; } }
                &[data-state="unmute"] { svg.mute-icon { display: none; } }
            }
        }

        .progress {
            display: flex;
            align-items: center;

            width: 100%;
            height: 100%;
            border-left: 1px solid $light;
            border-right: 1px solid $light;

            
            progress[value] {
                position: relative;
                overflow: hidden;

                -webkit-appearance: none;
                appearance: none;

                width: 100%;

                margin-left: 1rem;
                margin-right: 1rem;    
                
                height: 0.75rem;
                background-color: darken($light, 20%);
                border-radius: $round;
    
                &::-webkit-progress-bar {
                    width: 100%;
                    background-color: $light;
                }

                &::-webkit-progress-value {
                    background-image:
                        -webkit-linear-gradient(-45deg, 
                                                transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                                rgba(0,0, 0, .1) 66%, transparent 66%),
                        -webkit-linear-gradient(left, $primary, $primary);
                
                    background-size: 35px 20px, 100% 100%, 100% 100%;
                }
            }
        }

    }

    &:hover {
        .vidWrap-controls {
            transform: scale(1);
            opacity: 1;
            pointer-events: all;
        }
    }

    &:before, &:after {
        content: "";
        position: absolute;
        display: block;
        opacity: 0;

        position: absolute;
        pointer-events: none;
        z-index: 2;

        transition: all $fast $bezier
    }

    &:after {
        background-image: url('../static/icons/loading.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 3rem;
        height: 3rem;

        top: calc(50% - 1.5rem);
        left: calc(50% - 1.5rem);

        color: $primary;
    }

    &:before {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #00000000;
    }

    &.progress-loading {
        .progress progress {
            pointer-events: none;
            animation: progress-bar-loading 2s $bezier infinite;
        }
    }

    &.loading {

        .imgWrap {
            opacity: 1;
        }

        &:before, &:after {
            opacity: 1;
        }

        &::after {
            animation: loading 0.8s steps(8) infinite;
        }

        &::before {
            background-color: #000000b2;
        }
    }
}


///////////////////////////
///// RANDOM ELEMENTS /////
///////////////////////////

.admin-msg {
    color: red;
} 

// General
.ctn {
    max-width: 550px;

    &-title {
        
    }
}

.wysiwyg {
    *:last-child {
        margin-bottom: 0;
    }
}

main {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: $header-height-mobile;
}

// Backgorunds
.bg {
    &-light { background-color: $light; }
    &-pretty {
        background: radial-gradient(#0000000C 4.5px, transparent 4.5px), radial-gradient(#0000000C 4.5px, transparent 4.5px);
        background-size: 56px 56px;
        background-position: 0 0, 28px 28px;
    }
}

// Section's separations
.sep {
    &::after { content: ""; position: absolute; display: block; left: 0; width: 100%; height: 25%; pointer-events: none; }
    &-grad-top::after { 
        top: 0;
        background: linear-gradient(to bottom, $sep-grad, transparent);
    }
    &-grad-bottom::after { 
        bottom: 0;
        background: linear-gradient(to top, $sep-grad, transparent);
    }
    &-grad-top-bottom::after { 
        height: 100%;
        bottom: 0;
        background: linear-gradient(to top, $sep-grad 0%, transparent 25%, transparent 75%, $sep-grad 100%);
    }

    .wrapper {
        position: relative;
        z-index: 1;
    }
}

// Icon size
.icon, .icon svg {
    width: $icon-size-sm;
    height: $icon-size-sm;
}

// Link with an icon in it
.link-icon {
    display: flex;
    align-items: flex-start;
    font-size: 1rem;
    font-weight: 700;
    
    .icon, svg {
        width: $icon-size-sm;
        min-width: $icon-size-sm;
        height: $icon-size-sm;
        min-height: $icon-size-sm;
        margin-bottom: -0.35rem;
        margin-right: 0.5rem;

        color: $primary;
    }
}

//lists
$sp : $list-sm-gap;
.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $sp;
}

// Social links list
$sp : $card-sm-spacing;
.social-links {

    display: flex;
    gap: $sp  * 0.5;
    flex-wrap: wrap;

    margin-top: $sp;
    margin-left: -0.5rem;

    &-item {
        a {
            display: block;
            padding: 0.5rem;
            color: $primary;
            transition: all $fast $bezier;
            
            .icon {
                width: 2rem;
                height: 2rem;
            }

            &:hover {
                opacity: $secondary;
            }
        }
    }
}

@media (min-width :  map-get($breakpoints, md)) {

    // Icon sizes
    .icon {
        width: $icon-size-md;
        height: $icon-size-md;
    }

    // Lists
    .list {
        gap: 0;
    }

    $sp : $list-md-gap;
    .list, .list-md {
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;

        margin-left: calc($sp * -1);
        margin-top: calc($sp * -1);
        margin-bottom: calc($sp * -1);
        width: calc(100% + ($sp * 2));

        &--2col, &--3col, &--4col {
            .list-item {
                width: calc(50% + ($sp * 2));
            }
        }
    }
}


@media (min-width :  map-get($breakpoints, lg)) {

    // General stuff
    main {
        padding-top: $header-height-desktop;
    }

    // Icon sizes
    .icon {
        width: $icon-size-lg;
        height: $icon-size-lg;
    }

    // Lists
    $sp : $list-lg-gap;
    .list, .list-md, .list-lg {

        margin-left: calc($sp * -1);
        margin-top: calc($sp * -1);
        margin-bottom: calc($sp * -1);
        width: calc(100% + ($sp * 2));

        &.list--2col, &.list--3col, &.list--4col {
            .list-item {
                margin: $sp;
            }
        }

        &.list--2col {
            .list-item {
                width: calc(50% - ($sp * 2));
            }
        }

        &.list--3col {
            .list-item {
                width: calc(33.33% - ($sp * 2));
            }
        }

        &.list--4col {
            .list-item {
                width: calc(25% - ($sp * 2));
            }
        }
    }
}


@media (min-width :  map-get($breakpoints, xl)) {

}
