//////////
// TYPE //
//////////

body {
    font-size: 14px;
    line-height: $line-height;
    font-family: $font1;
    color: $text-color;
}

h1, .h1, h2, .h2, h3, .h3 {
    font-family: $font2;
    line-height: 0.9;
    font-weight: 400;

    margin-block-end: inherit;
    margin-bottom: 2rem;

    &:first-child { margin-top: 0; }

    .ctn-title-sub {
        display: block;
        line-height: 1;
        font-size: $base-fs;
        font-weight: 600;
        color: $primary;

        margin-bottom: 0.75rem;
        
        font-family: $font1;
    }
}

h3, .h3 {
    font-family: $font1;
    font-weight: 600;
}

@each $size, $font-size in $font-sizes {
    h#{$size}, .h#{$size} {
        font-size: $font-size;
    }
}

@media (min-width: map-get($breakpoints, md)) {
    body {
        font-size: 15px;
    }

    @each $size, $font-size in $font-sizes {
        h#{$size}, .h#{$size} {
            font-size: $font-size * $fs-md-multiplier;
        }
    }
}