{% extends "acf-blocks/base.twig" %}

{% block content %}

{% if b.actualities %}
<div class="wrapper">
    {% set title_group = b.title %}
    {% include "elements/h2-title.twig" %}

    {% set list_lenght_class = b.actualities|length < 3 ? "list--" ~ b.actualities|length ~ "col" : "list--3col" %}

    <ul class="list list-md {{ list_lenght_class }}">
    {% for item in b.actualities %}
        <li class="list-item">
            {% include "elements/card.twig" %}
        </li>
    {% endfor %}
    </ul>

    {% set btn1 = { 'title' : __('Toutes les actualités', 'Non-editable strings'), 'url' : get_archive_link('post') } %}
    {% set btn2 = b.link %}
    {% include "elements/buttons-group.twig" %}
</div>
{% else %}
    {% if logged_in %}
    <p class="admin-msg">ADMIN : {{ __('There are no actualities no this website yet. Publish some acualities and this section will be visible to all.') }}</p>
    {% endif %}
{% endif %}

{% endblock %}