{% set bg = b_prop.backgroundColor ? "bg-" ~ b_prop.backgroundColor : "" %}
{% set separation = b.options.separation ? "sep sep-" ~ b.options.separation : "" %}

<section class="{{ b_prop.name|replace({'acf/': ''}) }} {{ b_prop.className }} {{ bg }} {{ separation }}">
    {% block content %} <p>Please insert content in you block.</p> {% endblock %}
</section>

{% set bg = null %}