{% extends "acf-blocks/base.twig" %}

{% block content %}
<div class="wrapper wrapper-lg-2col">
    <div class="col-lg-left">
        {% set content = b.content %}
        {% include 'elements/content-element.twig' %}
    </div>
    <div class="col-lg-right lines">
        {% set media = b.media %}
        {% include 'elements/media.twig' %}
    </div>
</div>
{% endblock %}