{% extends "acf-blocks/base.twig" %}

{% block content %}
<div class="wrapper wrapper-lg-2col">
    <div class="col-lg-left">
        {% set content = b.content %}
        {% include 'elements/content-element.twig' %}
    </div>
    <div class="col-lg-right lines">
        <ul class="menu_slider-slider">
            {% for meal in b.slider %}
            <li class="menu_slider-slider-item">
                <div class="card card-body">
                    <p><strong>{{ meal.name }}</strong></p>
                    <p>{{ meal.desc }}</p>
                </div>

                {% set img = get_image(meal.img) %}
                {% include 'elements/image.twig' %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}