{% extends "acf-blocks/base.twig" %}

{% block content %}
<div class="wrapper wrapper-lg-2col">
    <div class="col-lg-left">
        {% set content = b.content %}
        {% include 'elements/content-element.twig' %}
    </div>
    <div class="col-lg-right">
        {% set partners = b.partners %}
        <ul class="partners-slider">
            {% for partner in b.partners %}
            <li class="partners-slider-item">
                {% if partner.link %}
                <a href="{{ partner.link }}" target="_blank">
                {% else %}
                <span>
                {% endif %}

                    {% set img = get_image(partner.logo) %}
                    {% include 'elements/image.twig' %}

                {% if partner.link %}
                </a>
                {% else %}
                </span>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}