
{% set title = title ? title : btn.title %}
{% set url = url ? url : btn.url %}
{% set target =  target ? target : btn.target %}

{% if title and url %}
<a href="{{ url }}" target="{{ target }}" class="btn  {{ classes }}">{{ title }}</a>
{% endif %}

{% set title =  null %}
{% set url = null %}
{% set target =  null %}
{% set btn =  null %}