@import 'utils/_variables';  

// Style for Gutenberg site preview

.acf-image-uploader .image-wrap img {
    object-fit: contain;
}

html :where(.wp-block) {
    max-width: 100%;
}

.edit-post-visual-editor__post-title-wrapper {
    display: none!important;
}

div.edit-post-visual-editor, .editor-styles-wrapper, .editor-canvas {

    padding: 0!important;

    // Overide default gutenberg styles
    .card {
        position: inherit;
        margin-top: inherit;
        padding: inherit;
        min-width: inherit;
        max-width: inherit;
        border: inherit;
        box-shadow: inherit;
        background: inherit;
        box-sizing: inherit;
    }

    // main.scss
    @import 'critical-css.scss';
    @import 'style.scss';

    // @import 'acf-blocks/actualities.scss';
    // @import 'acf-blocks/card-list.scss';
    @import 'acf-blocks/content-media.scss';
    // @import 'acf-blocks/content-only.scss';
    @import 'acf-blocks/cta.scss';
    // @import 'acf-blocks/heading-fp.scss';
}