{% extends "base.twig" %}

{% block content %}

{% if archive %}
<section class="bg-pretty sep sep-grad-top-bottom">

    <div class="wrapper wrapper--centered ">

        {% set title_group = { 'st' : "dada", 't' : p.title } %}
        {% include 'elements/h2-title.twig' %}

        {% set list_lenght_class = archive|length < 3 ? "list--" ~ archive|length ~ "col" : "list--3col" %}

        <ul class="list {{ list_lenght_class }}">
        {% for item in archive %}
            <li class="list-item">
                {% include "elements/card.twig" %}
            </li>
        {% endfor %}
        </ul>

        {% set btn1 = { 'title' : __('Toutes les actualités', 'Non-editable strings'), 'url' : get_archive_link('post') } %}
        {% set btn2 = b.link %}
        {% include "elements/buttons-group.twig" %}
    </div>

    {% else %}
        {% if logged_in %}
        <p class="admin-msg">ADMIN : {{ __('There are no actualities no this website yet. Publish some acualities and this section will be visible to all.') }}</p>
        {% endif %}
    {% endif %}

</section>

{% endblock %}