{% include 'parts/head.twig' %}

	<body class="{{body_class}}" data-template="base.twig">
		{% include 'parts/header.twig' %}
		
		<main>



			{% block heading %}

			<section class="heading">
				{% set img = p.meta('heading_img') is not empty ? p.meta('heading_img') : p.meta('thumbnail') %}
				{% set is_fs = true %}
				<span class="heading-bg">{% include 'blocks/image.twig' %}</span>

				<div class="wrapper">
					{% set title = p.heading_title is not empty ? p.heading_title : p.title %}

					<h1>{{ title }}</h1>
				</div>
				
			</section>

			{% endblock %}



			{% block content %}
			{% endblock %}



			{% block main_Footer %}

			<!-- DEFAULT FOOTER -->
			<section class="section_contact" id="contact-section">
				<div class="wrapper">
				</div>
			</section>

			{% endblock %}

		</main>
			
		{% include 'parts/footer.twig' %}
	</body>
</html>