{% extends "base.twig" %}


{% block heading %}

{% endblock %}


{% block content %}

<section>
    <div class="wrapper">
        {% include 'blocks/contact-form.twig' %}
    </div>
</section>

{% endblock %}