$sp : $card-mobile-spacing;

.card {

    display: flex;
    flex-direction: column;

    svg {
        color: $primary;
    }

    &-header {
        &-img {
        }
    }

    &-body {
        background-color: $white;
        box-shadow: $shadow;
        padding: $sp;
        h3 {
            margin-bottom: $sp;
        }
    }

    
}

@media (min-width :  map-get($breakpoints, md)) {
}


$sp : $card-desktop-spacing;
@media (min-width :  map-get($breakpoints, lg)) {
    
    .card {

        &-header {
            &-img {
            }
        }

        &-body {
            padding: $sp;
            gap: $sp;
        }
    }
}